/* Info Section */
.info {
  .fa {
    margin-right: 15px;
    color: #ccd1d6;

    &.fa-envelope-o {
      font-size: 14px;
    }
  }

  ul {
    margin-bottom: 0;
  }

  li {
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

    /*word-break: break-all;*/

    &:last-child {
      margin-bottom: 0;
    }
  }
}