/* Language Section */
.languages .item {
  margin-bottom: 15px;

  .title {
    color: #778492;
  }

  .level {
    color: #999;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .fa {
    color: #79d19a;
  }
}